[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ibmAcousticR"]
	path = ibmAcousticR
	url = https://github.com/chrisumphlett/ibmacousticr
[submodule "marketr"]
	path = marketr
	url = https://github.com/chrisumphlett/marketr
[submodule "reveneraR"]
	path = reveneraR
	url = https://github.com/chrisumphlett/revenerar
[submodule "revulyticsR"]
	path = revulyticsR
	url = https://github.com/cran/revulyticsR
[submodule "skilljaR"]
	path = skilljaR
	url = https://github.com/chrisumphlett/skilljar
[submodule "zdeskR"]
	path = zdeskR
	url = https://github.com/chrisumphlett/zdeskr
[submodule "zoomr"]
	path = zoomr
	url = https://github.com/chrisumphlett/zoomr
